/*

Переменную объявленную вот так (ОБЬЯЗАТЕЛЬНО ЧЕРЕЗ ЗАПЯТУЮ):
--clr-fill-blue-small-raw: var(--_hue-blue), var(--_sat-fill-small), var(--_light-fill-small);
Можно использовать вот в таких конструкциях
Для добавления прозрачности
background-color:hsla(var(--clr-fill-blue-small-raw),0.3);

А вот такую переменную
--clr-fill-blue-small: hsl(var(--clr-fill-blue-small-raw));
можно использовать как обычно:
background-color:(var(--clr-fill-blue-small));

 */

:root {
  --_hue-blue: 212;
  --_hue-green: 113;
  --_hue-red: 5;
  --_hue-orange: 25;
}

/*Фоны*/
/*====*/
/*Для блоков большого размера. Светлый задний фон*/
/*big - например фон всей страницы*/
/*small - например для шапки в таблице*/
/*accent - Чтобы выделялось на фоне любого серого. Например для скроллбара, или подчеркивания в меню.*/
/*highlight - для blink-эффекта*/
:root {
  --_sat-bg-big: 25%;
  --_light-bg-big: 98%;

  --_sat-bg-small: 9%;
  --_light-bg-small: 94%;

  --_sat-bg-smaller: 9%;
  --_light-bg-smaller: 90%;

  --_sat-bg-accent: 19%;
  --_light-bg-accent: 83%;

  --_sat-bg-highlight: 81%;
  --_light-bg-highlight: 90%;

  --clr-bg-blue-big: hsl(
    var(--_hue-blue),
    var(--_sat-bg-big),
    var(--_light-bg-big)
  );
  --clr-bg-blue-small: hsl(
    var(--_hue-blue),
    var(--_sat-bg-small),
    var(--_light-bg-small)
  );
  --clr-bg-blue-smaller: hsl(
    var(--_hue-blue),
    var(--_sat-bg-smaller),
    var(--_light-bg-smaller)
  );
  --clr-bg-blue-accent: hsl(
    var(--_hue-blue),
    var(--_sat-bg-accent),
    var(--_light-bg-accent)
  );
  --clr-bg-blue-highlight: hsl(
    var(--_hue-blue),
    var(--_sat-bg-highlight),
    var(--_light-bg-highlight)
  );

  --clr-bg-red-big: hsl(
    var(--_hue-red),
    var(--_sat-bg-big),
    var(--_light-bg-big)
  );
  --clr-bg-red-small: hsl(
    var(--_hue-red),
    var(--_sat-bg-small),
    var(--_light-bg-small)
  );
  --clr-bg-red-smaller: hsl(
    var(--_hue-red),
    var(--_sat-bg-smaller),
    var(--_light-bg-smaller)
  );
  --clr-bg-red-accent: hsl(
    var(--_hue-red),
    var(--_sat-bg-accent),
    var(--_light-bg-accent)
  );
  --clr-bg-red-highlight: hsl(
    var(--_hue-red),
    var(--_sat-bg-highlight),
    var(--_light-bg-highlight)
  );

  --clr-bg-orange-big: hsl(
    var(--_hue-orange),
    var(--_sat-bg-big),
    var(--_light-bg-big)
  );
  --clr-bg-orange-small: hsl(
    var(--_hue-orange),
    var(--_sat-bg-small),
    var(--_light-bg-small)
  );
  --clr-bg-orange-smaller: hsl(
    var(--_hue-orange),
    var(--_sat-bg-smaller),
    var(--_light-bg-smaller)
  );
  --clr-bg-orange-accent: hsl(
    var(--_hue-orange),
    var(--_sat-bg-accent),
    var(--_light-bg-accent)
  );
  --clr-bg-orange-highlight: hsl(
    var(--_hue-orange),
    var(--_sat-bg-highlight),
    var(--_light-bg-highlight)
  );

  --clr-bg-green-big: hsl(
    var(--_hue-green),
    var(--_sat-bg-big),
    var(--_light-bg-big)
  );
  --clr-bg-green-small: hsl(
    var(--_hue-green),
    var(--_sat-bg-small),
    var(--_light-bg-small)
  );
  --clr-bg-green-smaller: hsl(
    var(--_hue-green),
    var(--_sat-bg-smaller),
    var(--_light-bg-smaller)
  );
  --clr-bg-green-accent: hsl(
    var(--_hue-green),
    var(--_sat-bg-accent),
    var(--_light-bg-accent)
  );
  --clr-bg-green-highlight: hsl(
    var(--_hue-green),
    var(--_sat-bg-highlight),
    var(--_light-bg-highlight)
  );
}

/*Заполнения*/
/*==========*/
/*Ярко выраженный цвет. Например кнопка. Максимум - шапка.*/
/*small - например для кнопки или шапки*/
/*big - например для блока, занимающего пол страницы*/
/*accent - например для активной ссылки на страницу*/
:root {
  --_sat-fill-small: 42%;
  --_light-fill-small: 52%;

  --_sat-fill-big: 39%;
  --_light-fill-big: 47%;

  --_sat-fill-accent: 52%;
  --_light-fill-accent: 34%;

  --clr-fill-blue-small-raw:
    var(--_hue-blue), var(--_sat-fill-small), var(--_light-fill-small);
  --clr-fill-blue-small: hsl(var(--clr-fill-blue-small-raw));

  --clr-fill-blue-big-raw:
    var(--_hue-blue), var(--_sat-fill-big), var(--_light-fill-big);
  --clr-fill-blue-big: hsl(var(--clr-fill-blue-big-raw));

  --clr-fill-blue-accent: hsl(
    var(--_hue-blue),
    var(--_sat-fill-accent),
    var(--_light-fill-accent)
  );

  --clr-fill-red-small-raw:
    var(--_hue-red), var(--_sat-fill-small), var(--_light-fill-small);
  --clr-fill-red-small: hsl(var(--clr-fill-red-small-raw));

  --clr-fill-red-big: hsl(
    var(--_hue-red),
    var(--_sat-fill-big),
    var(--_light-fill-big)
  );
  --clr-fill-red-accent: hsl(
    var(--_hue-red),
    var(--_sat-fill-accent),
    var(--_light-fill-accent)
  );

  --clr-fill-green-small-raw:
    var(--_hue-green), var(--_sat-fill-small), var(--_light-fill-small);
  --clr-fill-green-small: hsl(var(--clr-fill-green-small-raw));

  --clr-fill-green-big: hsl(
    var(--_hue-green),
    var(--_sat-fill-big),
    var(--_light-fill-big)
  );
  --clr-fill-green-accent: hsl(
    var(--_hue-green),
    var(--_sat-fill-accent),
    var(--_light-fill-accent)
  );

  --clr-fill-orange-small-raw:
    var(--_hue-orange), var(--_sat-fill-small), var(--_light-fill-small);
  --clr-fill-orange-small: hsl(var(--clr-fill-orange-small-raw));

  --clr-fill-orange-big: hsl(
    var(--_hue-orange),
    var(--_sat-fill-big),
    var(--_light-fill-big)
  );
  --clr-fill-orange-accent: hsl(
    var(--_hue-orange),
    var(--_sat-fill-accent),
    var(--_light-fill-accent)
  );
}

/*Бордюры*/
/*=======*/
/*lighter - на стыке белого с серым*/
/*lightest - на фоне белого*/
/*darker - на фоне --clr-fill-blue-small*/
:root {
  --_sat-border-lighter: 10%;
  --_light-border-lighter: 90%;

  --_sat-border-lightest: 9%;
  --_light-border-lightest: 94%;

  --_sat-border-darker: 42%;
  --_light-border-darker: 48%;

  --clr-border-blue-lighter: hsl(
    var(--_hue-blue),
    var(--_sat-border-lighter),
    var(--_light-border-lighter)
  );
  --clr-border-blue-lightest: hsl(
    var(--_hue-blue),
    var(--_sat-border-lightest),
    var(--_light-border-lightest)
  );
  --clr-border-blue-darker: hsl(
    var(--_hue-blue),
    var(--_sat-border-darker),
    var(--_light-border-darker)
  );

  --clr-border-red-lighter: hsl(
    var(--_hue-red),
    var(--_sat-border-lighter),
    var(--_light-border-lighter)
  );
  --clr-border-red-lightest: hsl(
    var(--_hue-red),
    var(--_sat-border-lightest),
    var(--_light-border-lightest)
  );
  --clr-border-red-darker: hsl(
    var(--_hue-red),
    var(--_sat-border-darker),
    var(--_light-border-darker)
  );

  --clr-border-orange-lighter: hsl(
    var(--_hue-orange),
    var(--_sat-border-lighter),
    var(--_light-border-lighter)
  );
  --clr-border-orange-lightest: hsl(
    var(--_hue-orange),
    var(--_sat-border-lightest),
    var(--_light-border-lightest)
  );
  --clr-border-orange-darker: hsl(
    var(--_hue-orange),
    var(--_sat-border-darker),
    var(--_light-border-darker)
  );

  --clr-border-green-lighter: hsl(
    var(--_hue-green),
    var(--_sat-border-lighter),
    var(--_light-border-lighter)
  );
  --clr-border-green-lightest: hsl(
    var(--_hue-green),
    var(--_sat-border-lightest),
    var(--_light-border-lightest)
  );
  --clr-border-green-darker: hsl(
    var(--_hue-green),
    var(--_sat-border-darker),
    var(--_light-border-darker)
  );
}

/*Шрифты*/
/*======*/
:root {
  --_sat-font-bright: 100%;
  --_light-font-bright: 35%;

  --_sat-font-light: 36%;
  --_light-font-light: 88%;

  --_sat-font-gray: 0%;
  --_light-font-gray: 58%;

  --_sat-font-dark: 0%;
  --_light-font-dark: 20%;

  --_sat-font-darkest: 0%;
  --_light-font-darkest: 0%;

  --clr-font-blue-bright: hsl(
    var(--_hue-blue),
    var(--_sat-font-bright),
    var(--_light-font-bright)
  );

  --clr-font-blue-light: hsl(
    var(--_hue-blue),
    var(--_sat-font-light),
    var(--_light-font-light)
  );
  --clr-font-blue-gray: hsl(
    var(--_hue-blue),
    var(--_sat-font-gray),
    var(--_light-font-gray)
  );
  --clr-font-blue-dark: hsl(
    var(--_hue-blue),
    var(--_sat-font-dark),
    var(--_light-font-dark)
  );
  --clr-font-blue-darkest: hsl(
    var(--_hue-blue),
    var(--_sat-font-darkest),
    var(--_light-font-darkest)
  );

  --clr-font-red-bright: hsl(
    var(--_hue-red),
    var(--_sat-font-bright),
    var(--_light-font-bright)
  );

  --clr-font-red-light: hsl(
    var(--_hue-red),
    var(--_sat-font-light),
    var(--_light-font-light)
  );
  --clr-font-red-gray: hsl(
    var(--_hue-red),
    var(--_sat-font-gray),
    var(--_light-font-gray)
  );
  --clr-font-red-dark: hsl(
    var(--_hue-red),
    var(--_sat-font-dark),
    var(--_light-font-dark)
  );
  --clr-font-red-darkest: hsl(
    var(--_hue-red),
    var(--_sat-font-darkest),
    var(--_light-font-darkest)
  );

  --clr-font-green-bright: hsl(
    var(--_hue-green),
    var(--_sat-font-bright),
    var(--_light-font-bright)
  );

  --clr-font-green-light: hsl(
    var(--_hue-green),
    var(--_sat-font-light),
    var(--_light-font-light)
  );
  --clr-font-green-gray: hsl(
    var(--_hue-green),
    var(--_sat-font-gray),
    var(--_light-font-gray)
  );
  --clr-font-green-dark: hsl(
    var(--_hue-green),
    var(--_sat-font-dark),
    var(--_light-font-dark)
  );
  --clr-font-green-darkest: hsl(
    var(--_hue-green),
    var(--_sat-font-darkest),
    var(--_light-font-darkest)
  );

  --clr-font-orange-bright: hsl(
    var(--_hue-orange),
    var(--_sat-font-bright),
    var(--_light-font-bright)
  );

  --clr-font-orange-light: hsl(
    var(--_hue-orange),
    var(--_sat-font-light),
    var(--_light-font-light)
  );
  --clr-font-orange-gray: hsl(
    var(--_hue-orange),
    var(--_sat-font-gray),
    var(--_light-font-gray)
  );
  --clr-font-orange-dark: hsl(
    var(--_hue-orange),
    var(--_sat-font-dark),
    var(--_light-font-dark)
  );
  --clr-font-orange-darkest: hsl(
    var(--_hue-orange),
    var(--_sat-font-darkest),
    var(--_light-font-darkest)
  );
}

/*Прочее*/
/*======*/
:root {
  --clr-overlay: rgba(0, 0, 0, 0.7);
}
